<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up Form</title>
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/coding_club_registeration.css" />
    </head>
    <body>
      <div class="row">
    <div class="col-md-12">
      <form action="index.html" method="post">
        <h1> OTE Internship Registration </h1>
        
        <fieldset>
          
          <legend><span class="number">1</span> Personal Information</legend>

          <label for="name">Full Name:</label>
          <input type="text" name="full_name" id="full_name" required />

          <label for="name">Email:</label>
        <input type="email" name="emailid" id="emailid" required />

        <label for="name">Phone Number:</label>
        <input type="tel" name="phone" id="phone" required />

<!--         
          <label>Age:</label>
          <input type="radio" id="under_13" value="under_13" name="user_age"><label for="under_13" class="light">Under 13</label><br>
          <input type="radio" id="over_13" value="over_13" name="user_age"><label for="over_13" class="light">Over 13</label> -->
          
        </fieldset>
        <fieldset>  
        
          <legend><span class="number">2</span> Academic Information</legend>
        
          <select name="discipline" id="Program" required>
            <option value="">Select Discipline</option>
            <option value="Degree">Degree</option>
            <option value="Diploma">Diploma</option>
          </select>
          <!-- select is used for dropdown list, option represents options of dropdown  -->
          <select name="semester" id="semester" required>
            <option value="">Select Semester</option>
            <option value="2nd">2nd Semester</option>
            <option value="4th">4th Semester</option>
            <option value="6th">6th Semester</option>
          </select>
          <input type="text" name="College" id="College" placeholder="College Name" required />
          <select name="Program" class="form-field" required>
            <option value="">Select Program</option>
            <option value="14 Days Internship">14 Days Internship</option>
            <option value="30 Days Internship">30 Days Internship</option>
        </select>

        <legend><span class="number">2</span> Transaction Validation Proof</legend>

          <h3>Transaction Screenshot</h3>
          <p>*recommended to show transaction Id to upload screenshot</p>
          <input type="file" name="screenshot" id="screenshot">
  
          <h3>Upload PassPort Size Photo</h3>
          <input type="file" name="passport" id="passport">



        
           <div class="section">
            <h3>Join our WhatsApp for further updates.</h3>
            <p>Have you joined the WhatsApp channel ? (highly recommended to join WhatsApp channel)<a href="https://chat.whatsapp.com/G1wijHJMSgjFalCgRF83SM">Link</a></p>
            <span><input type="radio" name="yes" id="yes">Yes</span>
          </div>
          
         </fieldset>
       
        <button type="submit">Sign Up</button>
        
       </form>
        </div>
      </div>
      
    </body>
</html>
